<h2 mat-dialog-title>
  <span class="text-2xl">{{ data.title }}</span>
</h2>
<mat-dialog-content
  class="mat-typography"
  #scrollContainer
  (scroll)="onScroll()">
  <div [innerHTML]="data.content"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="py-3">
    <button mat-flat-button [mat-dialog-close]="false">
      {{ data.cancelText }}
    </button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="true"
      [disabled]="!canAccept"
      cdkFocusInitial>
      {{ data.acceptText }}
    </button>
  </div>
</mat-dialog-actions>
