.reset-button {
  height: 56px; /* Coincide con la altura del mat-form-field */
  padding: 0 16px; /* Ajusta el padding para que se vea bien */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
}
